<h1>If you know the right words we'll let you in...</h1>

<form action="/password" method="get">
  <input type="text" name="password" placeholder="Enter your password...">
  <input type="submit">
</form>

<% if (@password_acceptance_status) %>
  <p>Welcome to our hallowed halls...</p>
<% else %>
  <p>In the words of Gandalf: YOU SHALL NOT PASS</p>
<% end %>
